/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-top: 20px;
}

#chart {
    margin: 40px auto;
    width: 80%;
}

/* Tooltip Styles */
.tooltip {
    position: absolute;
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
}
